


<div v-if="isMessagesLoading" class="chatflow-skeleton" aria-label="Loading messages">
    <div class="message-skeleton-row">
        <wa-skeleton effect="sheen" class="message-skeleton-avatar"></wa-skeleton>
        <div class="message-skeleton-stack">
            <wa-skeleton effect="sheen" class="message-skeleton-name"></wa-skeleton>
            <wa-skeleton effect="sheen" class="message-skeleton-bubble message-skeleton-bubble-long"></wa-skeleton>
        </div>
    </div>
    <div class="message-skeleton-row own-message-skeleton">
        <div class="message-skeleton-stack">
            <wa-skeleton effect="sheen" class="message-skeleton-bubble message-skeleton-bubble-medium"></wa-skeleton>
        </div>
        <wa-skeleton effect="sheen" class="message-skeleton-avatar"></wa-skeleton>
    </div>
    <div class="message-skeleton-row">
        <wa-skeleton effect="sheen" class="message-skeleton-avatar"></wa-skeleton>
        <div class="message-skeleton-stack">
            <wa-skeleton effect="sheen" class="message-skeleton-name"></wa-skeleton>
            <wa-skeleton effect="sheen" class="message-skeleton-bubble message-skeleton-bubble-short"></wa-skeleton>
        </div>
    </div>
</div>

<div v-else-if="messagesWithProfiles.length">
    <ul class='chatflow-wrapper'>
        <li
            v-for="msg in messagesWithProfiles"
            :key="msg.url || `${msg.value.user}-${msg.value.published}`"
            class="chatflow-message-item"
            :data-message-id="msg.messageId"
        > 
            <div v-if="msg.isFirstInTimeChunk" class="chatflow-timestamp">
                {{ formatMessageTimestamp(msg.value.published) }}
            </div>
            <div
                class="chatflow-message-row"
                :class="{ 'show-time-column': showTimestampColumn }"
            >
                <div class="chatflow-message-lane">
                    <Message :username="msg.profile?.name" 
                    :profile-bio="msg.profile?.bio"
                    :message-content="msg.value.content" 
                    :avatarUrl="msg.profile?.avatarUrl" 
                    :avatar-is-loading="msg.profile?.avatarIsLoading"
                    :published="msg.value.published"
                    :is-own-message="msg.value.user === session?.actor"
                    :show-name="msg.isFirstInChunk"
                    :show-avatar="msg.isLastInChunk"
                    :is-pending="msg.isPending"
                    :pending-status="msg.pendingStatus"
                    :message-id="msg.messageId"
                    :like-count="msg.likeCount"
                    :is-liked="msg.isLikedByCurrentUser"
                    :is-pinned="msg.isPinned"
                    :reply-to="msg.value.replyTo"
                    :reply-to-content="msg.value.replyToContent"
                    @toggle-like="toggleLike(msg)"
                    @toggle-pin="togglePin(msg)"
                    @reply="replyToMessage(msg)"
                    @mention-user="mentionUser(msg)"
                    @open-reply="scrollToMessage(msg.value.replyTo)"/>
                </div>
                <div
                    v-if="showTimestampColumn"
                    class="chatflow-message-time"
                    :title="formatMessageTimestamp(msg.value.published)"
                >
                    {{ formatMessageTime(msg.value.published) }}
                </div>
            </div>
        </li>
        <li ref="messagesEnd" class="messages-end"></li>
    </ul>
</div>
<div v-else class="empty-chatflow-wrapper">
    <div v-if="activeChatId" class="no-chat-message">
        <p>No message activities yet...</p>
        <p>You can be the one to send the first message!</p>
    </div>
    <div v-else class="no-chat-message">
        <p>Select a chat from the left panel to start chatting!</p>
        <p>If you don't have any, this is your chance to create your first chat, or join 
        your friend's chat!</p>
    </div>
    
</div>
