<ul v-if="isChatListLoading" class="chat-list-skeleton" aria-label="Loading chats">
    <li v-for="index in 5" :key="index" class="chat-list-skeleton-item">
        <wa-skeleton effect="pulse" class="chat-list-skeleton-avatar"></wa-skeleton>
        <div class="chat-list-skeleton-copy">
            <wa-skeleton effect="pulse" class="chat-list-skeleton-title"></wa-skeleton>
            <wa-skeleton effect="pulse" class="chat-list-skeleton-subtitle"></wa-skeleton>
        </div>
    </li>
</ul>

<ul v-else class="combined-chat-list">
    <li v-for="chat in chatList" :key="chat.value.chatId">
        <ChatListItem
            :chatId="chat.value.chatId"
            :chatName="chat.value.displayChatName"
            :chatImageUrl="chatImageUrls[chat.value.chatId] || chatDefaultImageUrlsByChatId[chat.value.chatId] || ''"
            :isChatImageLoading="chatImageLoadingByChat[chat.value.chatId] || (!chatImageUrls[chat.value.chatId] && chatDefaultImageLoadingByChatId[chat.value.chatId])"
            :preview-members="(chatImageUrls[chat.value.chatId] || chatDefaultImageUrlsByChatId[chat.value.chatId]) ? [] : (chatPreviewMembersByChatId[chat.value.chatId] || [])"
            :hasUnread="hasUnreadByRootChatId[chat.value.chatId]"
            :latest-message="latestMessageByRootChatId[chat.value.chatId]"
            :is-message-preview-loading="!areChatMessagesReady"
            :now="now"
            :branches-open="isBranchesOpen(chat.value.chatId)"
            :branch-count="branchCountByRootId[chat.value.chatId]"
            :is-selected="chat.value.chatId === activeChatId && !isBranchesOpen(chat.value.chatId)"
            @click="emitUpdateChat(chat.value.chatId, chat.value.displayChatName, chat.value.chatId, chat.value.chatId)"
            @toggle-branches="toggleBranches(chat.value.chatId)"
        ></ChatListItem>
        <wa-tree
            v-if="isBranchesOpen(chat.value.chatId)"
            class="tree-with-lines chat-list-branch-tree"
            @click="syncSelectedBranch"
            @wa-selection-change="syncSelectedBranch"
        >
            <BranchNode
                v-for="node in branchTreesByRootId[chat.value.chatId]"
                :key="node.id"
                :node="node"
                :active-chat-id="activeChatId"
                @select-chat="emitUpdateChat"
                @create-branch="emitCreateBranch"
                @rename-branch="emitRenameBranch"
                @delete-branch="emitDeleteBranch"
            />
        </wa-tree>
    </li>
</ul>
