<div class="message-wrapper">
    <div class="avatar">
        <wa-avatar
            label="User avatar"
            :image.prop="avatarUrl || ''"
            class="message-avatar"
        ></wa-avatar>
    </div>

    <wa-card class="card-header">
        <div slot="header" class="message-header">
            <div class="message-header-name">
                {{username}}
            </div>
            <div appearance="plain" class='message-header-date'>
                {{ new Date(published).toLocaleString('en-US') }}
            </div>
        </div>
        <div class="message-body-content">
            {{messageContent}}
        </div>
    </wa-card>
</div>
