<div class="message-wrapper">
    <div class="avatar">
        <img v-if='avatarUrl' :src="avatarUrl" alt="User avatar" />
        <wa-avatar v-else label="User avatar" :src="avatarUrl"></wa-avatar>
    </div>

    <wa-card class="card-header">
        <div slot="header" class="message-header">
            <div class="message-header-name">
                {{username}}
            </div>
            <div appearance="plain" class='message-header-date'>
                {{ new Date(published).toLocaleString('en-US') }}
            </div>
        </div>
        <div class="message-body-content">
            {{messageContent}}
        </div>
    </wa-card>
</div>