
<wa-button appearance="filled" data-drawer="open drawer-dismiss" class="profile-pill">

    <div slot="start">
        <wa-skeleton
            v-if="profileImageLoading"
            effect="sheen"
            class="profile-pill-avatar-skeleton"
        ></wa-skeleton>
        <wa-avatar
            v-else
            label="User avatar"
            :image.prop="profileImageUrl || ''"
            class="profile-pill-avatar"
        ></wa-avatar>
    </div>
    
    <div class="profile-pill-text-wrapper">
        <div class="profile-pill-name">
            {{profileName}}
        </div>
        <div>
            (click to edit profile)
        </div>
    </div>
</wa-button>

<wa-drawer label="Profile" id="drawer-dismiss" placement="bottom">
    <div class="profile-wrapper" >
        <label class="profile-image-upload" title="Upload a Profile Picture">
            <wa-skeleton
                v-if="profileImageLoading"
                effect="sheen"
                class="profile-image-skeleton"
            ></wa-skeleton>
            <wa-avatar
                v-else
                label="User avatar"
                :image.prop="profileImageUrl || ''"
                class="profile-image"
            ></wa-avatar>

            <input
                type="file"
                accept="image/*"
                @change="handleFileUpload"
                class="profile-image-input"
            />
        </label>


        <div class="profile-info-wrapper">
            <div class="profile-text-info">
                <h6>Displayed Name: </h6>
                <input v-model="editedName" required>
            </div>
            <div class="profile-text-info">
                <h6>Leave a note to others ~ </h6>
                <textarea v-model="editedBio" placeholder="There is nothing here ~"></textarea>
            </div>
        </div>
    </div>
    <div class="profile-footer">
        <wa-button :variant="saveSuccess ? 'success' : 'brand'"
            @click="saveChanges" 
            :disabled.prop ='(profileName===editedName && profileBio===editedBio)||isSaving'>
            <wa-spinner v-if="isSaving"></wa-spinner>
            <wa-icon name="check" v-if="saveSuccess"></wa-icon>
            {{ isSaving ? "Saving..." : saveSuccess ? "Saved" : "Save" }}
        </wa-button>
    </div>
    <button slot="footer" @click="$graffiti.logout($graffitiSession.value)">
        Log Out
    </button>
</wa-drawer>


