
<wa-button appearance="filled" data-drawer="open drawer-dismiss" class="profile-pill">
            <img :src="profileImageUrl" class="profile-pill-avatar" slot="start"/>
            <h1>{{profileName}}</h1>
</wa-button>
<wa-drawer label="Profile" id="drawer-dismiss" placement="bottom">
    <div class="profile-wrapper">
        <img v-if="profileImageUrl" :src="profileImageUrl" class="profile-image"/>
        <div class="profile-info-wrapper">
            <div class="profile-text-info">
                <h6>Displayed Name: </h6>
                <input v-model="editedName">
            </div>
            <div class="profile-text-info">
                <h6>Leave a note to others ~ </h6>
                <textarea v-model="editedBio"></textarea>
            </div>
        </div>
    </div>
    <wa-button slot="footer" variant="brand" @click="saveChanges">Save</wa-button>
</wa-drawer>


