
<wa-page>
    <wa-tab-group slot="navigation" withoutScrollControls>
        <wa-tab panel="chats">
            Chats
        </wa-tab>

        <wa-tab
            panel="branches"
            :disabled.prop="activeChatId == null || activeChatId === ''">
            Branches
        </wa-tab>

        <wa-tab-panel name="chats">
            <ChatList @update-active-chat="setActiveChat"></ChatList>
        </wa-tab-panel>

        <wa-tab-panel name="branches">
            <ChatTree @update-active-chat="setActiveChat"></ChatTree>
        </wa-tab-panel>

        <div slot="nav" style="margin-left: auto;" class="chat-list-actions">
            <CreateChatButton></CreateChatButton>
        </div>
    </wa-tab-group>

    <div slot='navigation-footer'>
        <Profile></Profile>
    </div>

    <div slot="main-header">
        <div v-if="activeChatId" class="chat-name-wrapper">
            <h1>{{activeChatName}}</h1>
            <wa-copy-button 
                :value="activeChatId"
                copy-label="Click to Copy Chat Id"
                success-label="Chat Id Copied"
                error-label="Whoops, your browser doesn't support this!"
                >
            </wa-copy-button>
        </div>
        <h1 v-else>Welcome to Chatree!</h1>
        <wa-button v-if="activeChatId"
            @click="leaveActiveChat(activeChatId)" 
            :variant="leaveSuccess ? 'brand' : 'danger'"
            slot="main-header-actions" 
            :disabled.prop="isLeaving">
            <wa-spinner v-if="isLeaving"></wa-spinner>
            <wa-icon name="check" v-if="leaveSuccess"></wa-icon>
            {{ isLeaving ? "Leaving..." : leaveSuccess ? "Chat Left" : "Leave Chat" }}
        </wa-button>
    </div>

    <div slot="main-footer">
        <ChatInput></ChatInput>
    </div>

    
    <main>
        <section v-if="activeChatId">
            <ChatFlow/>
        </section>
        <section v-else>
            <ChatFlow/>
        </section>
    </main>

    
</wa-page>



