
<wa-page>
     <div slot="navigation-header">
        <h1>Chats</h1>
        {{newChatName}}
        <input 
        v-model='newChatName'
        @keydown.enter="createNewChat()"/>
    </div>

    <wa-tab-group slot="navigation">
        <wa-tab panel="chats">Chats</wa-tab>
        <wa-tab
            panel="branches"
            :disabled.prop="activeChatId == null || activeChatId === ''"
        >Branches</wa-tab>

        <wa-tab-panel name="chats">
            <ChatList @update-active-chat="setActiveChat"></ChatList>
        </wa-tab-panel>

        <wa-tab-panel name="branches">
            <ChatTree></ChatTree>
        </wa-tab-panel>
    </wa-tab-group>

    <div slot='navigation-footer'>
        <h1>Profile</h1>
        <button @click="clearActive">clear active </button>
    </div>

    <div slot="main-header">
        <h1 v-if="activeChatId">Chat Name : {{activeChatName}}</h1>
        <h1 v-else>Public Chats</h1>
        
    </div>
    <div slot="aside">
        <Profile></Profile>
        <button @click="$graffiti.logout($graffitiSession.value)">
            Log Out
        </button>
    </div>

    <div slot="main-footer">
        <ChatInput></ChatInput>
    </div>


    <main>
        <section v-if="activeChatId">
            <ChatFlow/>
        </section>
        <section v-else>
            <ChatFlow/>
        </section>
    </main>

    
</wa-page>



